$periwinkle: #ACB6E5;
$mint: #A3F7DB;
$aqua: #89E5D4;
$blue: #97D2FB;
$white: #f6f6f6;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro');

$mono: 'Source Code Pro', monospace;
$sans: 'Open Sans', sans-serif;

body {
  background: $periwinkle;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $periwinkle, $aqua);
  background: linear-gradient(to right, $periwinkle, $aqua);
  font-family: $mono;
}

.container {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 10%;
  width: 420px;
  height: 350px;
}

.creditcard {
  background: $white;
  top: 15%;
  position: absolute;
  left: 10%;
  width: 320px;
  height: 200px;
  border-radius: 15px;
}

/* form style */
fieldset {
  top: 7px;
  border: none;
  position: relative;
  padding-left: 25px;
  padding-top: 10px;
  clear: both;
  &.fieldset-exp {
    float: left;

    & .exp {
      float: left;
      width: 50px;
    }
  }
  &.fieldset-ccv {
    margin-top: -55px;
    float: right;
    width: 86px;
    left: 27px;
  }
}

label {
  font-size: .6em;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
}

input {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-image: linear-gradient(to right, $periwinkle, $mint);
  border-image: linear-gradient(to right, $periwinkle, $mint);
  border-image-slice: 1;
  outline: 0;
  &.input-card-number {
    width: 45px;
    margin-right: 2px;
  }
  &#ccv {
    width: 30px;
  }
  &#name {
    width: 90%;
  }
}

select {
  height: 25px;
  background: white;
  border-width: 1px;
  border-style: solid;
  -webkit-border-image: linear-gradient(to right, $periwinkle, $mint);
  border-image: linear-gradient(to right, $periwinkle, $mint);
  border-image-slice: 1;
  outline: 0;
}

button {
  width: 50%;
  padding: 17px;
  background: linear-gradient(to right, $blue, $mint);
  border-radius: 3px;
  border: none;
  outline: 0;
  color: #888888;
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: 5px;
  &:hover {
    transform: scale(1.05);
    transition: all .4s ease;
    color: #000000;
  }
}

.checkout-btn {
  position: absolute;
  top: 90%;
  left: 60%;
  box-shadow: 2px 2px 5px rgba(0,0,0, .2);
}
